 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 html,
 body {
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: black;
 }

 .screen {
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* 2 columns */
   grid-template-rows: 1fr 1fr;
   /* 2 rows */
   width: 100%;
   height: 100%;
   gap: 5px;
 }

 .screen img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
   display: block;
 }